{% extends "base.html" %} {% block content %}
<h1>Coupons with Hashtag "{{ hashtag_name }}"</h1>

{% if coupons %}

{% for coupon in coupons %}
<div class="card">
  <div class="card-content">
    <div class="coupon-title">
      <a href="{% url 'detail-thread' coupon.id %}">
        <span class="card-title black-text">{{ coupon.name }}</span>
      </a>
      <div class="coupon-actions-container">
        <div class="coupon-actions">
          <form
            action="/downvote/{{ coupon.id }}/"
            method="POST"
            class="coupon-form"
          >
            {% csrf_token %}
            <button class="btn-flat coupon-action-btn">
              <i class="material-icons blue-text text-lighten-1">remove</i>
            </button>
          </form>
          {% if coupon.score > 0 %}
          <span class="scores-container red-text text-accent-3"
            >{{ coupon.score }}</span
          >
          {% else %}
          <span class="scores-container blue-text text-lighten-1"
            >{{ coupon.score }}</span
          >
          {% endif %}
          <form
            action="/upvote/{{ coupon.id }}/"
            method="POST"
            class="coupon-form"
          >
            {% csrf_token %}
            <button class="btn-flat coupon-action-btn">
              <i class="material-icons red-text text-accent-3">add</i>
            </button>
          </form>
        </div>
      </div>
      <div class="discount-container">
        <div class="coupon-discount">
          <p>-{{ coupon.discount_amt|floatformat }}%</p>
        </div>
        </div>
        <div class="coupon-actions-container">
          <div class="coupon-actions">
            <div class="coupon-code">
              <p>{{ coupon.code }}</p>
            </div>
            <button
              class="btn-flat coupon-action-btn"
              onclick="copyCouponCode('{{ coupon.code }}')"
            >
              <i style="color: #69be28" class="material-icons">content_copy</i>
            </button>
          </div>
        </div>

        <div class="coupon-expiration">
          <p class="grey-text text-lighten-1">
            <i class="tiny material-icons grey-text text-lighten-1"
              >hourglass_full</i
            >
            {{ coupon.expiring_date }}
          </p>
        </div>

        
        <div class="coupon-comments-container">
          {{ coupon.comments_amt }}
           <a
             href="{% url 'all_comments' coupon.id %}"
              class="comment-icon-btn"
              ><i style="margin-top: 5px; margin-left:5px" class="tiny material-icons grey-text text-lighten-1"
              >mode_comment</i
            >  </a
            >
              
        </div>
      </div>
    </div>
  </div>



  {% endfor %}

    {% else %}
  <p>No coupons found</p>
  {% endif %}
  <script>
    function copyCouponCode(code) {
      const tempTextarea = document.createElement("textarea");
      tempTextarea.value = code;
      document.body.appendChild(tempTextarea);
      tempTextarea.select();
      document.execCommand("copy");
      document.body.removeChild(tempTextarea);
    }
  </script>

  {% endblock %}
</div>
