{% extends "base.html" %} {% block content %}

<div id="wrapper">
  <div class="row">
    <div class="col s6">
      <h2>Log in</h2>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <form method="POST" action="">
        {% csrf_token %} {% for field in form %}
        <label>{{ field.label }}</label>
        {{ field }} {% endfor %}
        <button class="btn btncolor" type="submit">Log in</button>
      </form>
    </div>
  </div>

  <div>
    {% for message in messages %}
    <p id="messages">{{ message.success }}</p>
    {% endfor %}

    <div class="d-flex justify-content-center link">
      <a href="{% url 'signup' %}" class="link"
        >Don't have an account yet? Signup here!</a
      >
    </div>
  </div>
</div>

{%endblock%}
